* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Lato';
  src: url('/assets/fonts/Lato/Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lora';
  src: url('/assets/fonts/Lora/static/Lora-Regular.ttf') format('truetype');
}

:root {
  --primary-font: 'Lato', sans-serif;
  --secondary-font: 'Lora', sans-serif;
  --title-hero: 54px;
  --text-hero: 16px;
  --title-grid: 64px;
  --desc-title-grid: 20px;
  --text-grid: 14px;
  --primary-color: #2c2a29;
  --secondary-color: #1f1f1f;
  --bg-primary: #f4f0ea;
  --fw-regular: 400;
  --spacing-lg: 48px;
}

.page-layout {
  max-width: 1440px;
  padding-bottom: 50px;
  margin: 0 auto;
}

/* Hero Section */
.hero {
  margin-bottom: 80px;
  color: var(--primary-color);
  text-align: center;
}

.hero__title {
  max-width: 1215px;
  margin: 0 auto 8px;
  font: var(--fw-regular) var(--title-hero) var(--secondary-font);
}

.hero__images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding: 30px 0 50px;
}

.hero__image {
  border-radius: 16px;
}

.hero__content-description {
  max-width: 810px;
  margin: 0 auto;
  font: var(--fw-regular) var(--text-hero) / 22px var(--primary-font);
}

.hero__content-description p {
  margin-bottom: 16px;
}
.hero__content-description span {
  display: block;
  margin-top: 12px;
}

/* Grid Section */
.grid {
  max-width: 1376px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  color: var(--secondary-color);
}

.grid__description,
.grid__description-another {
  font-family: var(--primary-font);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-height: 800px;
  padding: 0 var(--spacing-lg) var(--spacing-lg);
  border-radius: 24px;
  background: var(--bg-primary);
  gap: 24px;
}

.grid__description h2,
.grid__description-another h2 {
  margin-bottom: 40px;
  font: var(--fw-regular) var(--title-grid) var(--secondary-font);
}

.grid__description-content,
.grid__description-another-content {
  font-family: var(--primary-font);
  font-weight: var(--fw-regular);
}

.grid__description-title,
.grid__description-another-title {
  font-weight: var(--fw-regular);
  font-size: var(--desc-title-grid);
  line-height: 30px;
  margin-bottom: 8px;
}

.grid__description-text,
.grid__description-another-text.first {
  font-size: var(--text-grid);
  line-height: 22px;
  margin-bottom: 16px;
}
.grid__description-another-text {
  font-size: var(--text-grid);
  line-height: 22px;
}
.grid__wrapper-description-another-content {
  min-height: 358px;
}
.grid__description-another-content {
  min-height: 170px;
}

/* Media Query 375px */
@media (max-width: 376px) {
  .hero {
    margin-bottom: 40px;
  }

  .hero__title {
    font-size: 32px;
    margin-bottom: 4px;
    max-width: 343px;
  }

  .hero__images {
    gap: 5px;
    padding: 27px 0;
  }

  .hero__image {
    width: 177.27px;
    height: 289px;
  }

  .hero__content-description {
    max-width: 343px;
    font-size: 14px;
    line-height: 20px;
  }

  .hero__content-description p {
    margin-bottom: 12px;
  }
  .hero__content-description span {
    margin-top: 16px;
  }

  .grid {
    padding: 0 8px;
    max-width: 100%;
    grid-template-columns: 1fr;
    gap: 16px;
  }

  .grid > *:nth-child(1) {
    grid-row: 2;
  }
  .grid__description {
    grid-row: 1;
  }
  .grid__description-another {
    font-family: var(--primary-font) !important;
    grid-row: 3;
  }
  .grid > *:nth-child(4) {
    grid-row: 4;
  }

  .grid__description,
  .grid__description-another {
    padding: 20px 18px;
    max-height: none;
    gap: 16px;
    border-radius: 16px;
  }

  .grid img {
    width: 100%;
    height: auto;
    border-radius: 16px;
    object-fit: cover;
  }

  .grid__description h2,
  .grid__description-another h2 {
    font-size: 32px;
    margin-bottom: 16px;
  }

  .grid__description-title {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 4px;
  }

  .grid__description-text {
    font-size: 14px;
    max-height: none;
    margin-bottom: 12px;
  }
  .grid__wrapper-description-another-content h2 {
    font-family: var(--primary-font);
  }
  .grid__wrapper-description-another-content,
  .grid__description-another-content {
    min-height: auto;
  }
}
