* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'Lato';
  src: url('/assests/fonts/Lato/Lato-Regular.ttf') format('truetype');
  font-weight: 400;
}

:root{
  
}